@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Karla:ital,wght@0,300;1,200;1,300&display=swap');

.left{
 animation-delay: 2s;
 animation: run 3s infinite;
  }
@keyframes run {
form{right:40px;}
to{right:0px;}
  }
body{
    background-image: url("image/bg7.jpg");
    background-repeat: repeat;
    background-color: #F8EDE3; 
    font-family: 'Dancing Script', cursive;
}

.section-1{
    background-color: #DFD3C3;
}

.button{
    background-color: #7D6E83;
    border-radius: 10;
    box-shadow: 0 4px 4px 0 black;
    color: white;
    width: 128px;
}

.left{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.head{
    background-color: #7D6E83;
    color: white;
}

.modal_body{
    background-color: #E4DCCF;
}

.cart{
    background-color: #F8EDE3;
}

.nowrap{
    white-space:nowrap;
}

.nowrap.success input {
    box-shadow: 0 0 5px 1px green;
  }
  
.nowrap.error input {
    box-shadow: 0 0 5px 1px red;
  }
  
.nowrap i {
      visibility: hidden;
      top: 40px;
      right: 10px;
  }
  
.nowrap.success i.fa-check-circle {
      color: #2ecc71;
      visibility: visible;
  }
  
.nowrap.error i.fa-exclamation-circle {
      color: #e74c3c;
      visibility: visible;
  }
  
.nowrap small {
      color: #e74c3c;
      /* position: absolute; */
      bottom: 0;
      left: 0;
      visibility: hidden;
  }
  
.nowrap.error small {
      visibility: visible;
  }

  .flip-box-inner {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the back side */
  .flip-box-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .flip-box {
    width: 274px;
    height: 396px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
